.MeetUpForm {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  padding: 50px;
  font-family: 'Ubuntu';
}

.title {
  font-size: 50px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
}

.form-header {
  position: relative;
  height: 50px;
}

.input-title {
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  border-width: 7px;
  border-color: #B200C2;
  border-style: solid;
  position: absolute;
  left: 20px;
}

.location-pin {
  width: 30px;
  padding: 0 0 0px 25px;
  position: absolute;
  left: 350px;
}

.address{
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 300px;
}

a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #999;
}

a:hover {
  color: #BD00CE;
}

.selected-stations, .selected-friends {
  width: 250px;
  margin: 10px;
  float: left;
}

.selected-station, .selected-friend {
  background-color: #B200C2;
  color: white;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.creat-new {
  display: inline-block;
}

.create-new-meetups {
  position:fixed;
  display: inline-block;
  width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#FF90FB;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #323232;
}

.create-new-meetups:hover {
  cursor: pointer;
}

.navigation {
  list-style: none;
  position: relative;
  float: left;
  padding: 0;
  width: 250px; 
  height: 40px; 
  margin: 20px;
  background: #B200C2;
}

.metro-line:hover, .station-name:hover {
  cursor: pointer;
}
.navigation, .navigation a.metro {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.metro {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.navigation a.metro {
  display: block; 
  height: 40px;
  font: bold 15px/40px arial, sans-serif; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF;  
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navigation:hover a.metro {
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.04);
  cursor: pointer;
}

.navigation, .navigation a.station {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.station {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.navigation a.station {
  display: block; 
  height: 40px;
  font: bold 15px/40px arial, sans-serif; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF;  
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navigation:hover a.station {
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.04);
  cursor: pointer;
}

.navigation, .navigation a.friend {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.friend {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.navigation a.friend {
  display: block; 
  height: 40px;
  font: bold 15px/40px arial, sans-serif; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF;  
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navigation:hover a.friend {
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.04);
}

.navigation li { 
  width: 250px; 
  height: 40px;
  background: #F7F7F7;
  font: normal 12px/40px arial, sans-serif !important; 
  color: #999;
  text-align: center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.navigation li:nth-child(even) { background: #F5F5F5; }
.navigation li:nth-child(odd) { background: #EFEFEF; }

.navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.2s linear 0s;
  -o-transition:0.2s linear 0s;
  transition:0.2s linear 0s;
  cursor: pointer;
}
